@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="divtitulo">

    <a class="btn btn-success" href="Aluno/Create">Novo</a>
    <h1>Lista Alunos</h1>
</div>
<div id="divtabela">
    <table class="table table-striped">

        <thead>
            <tr>

                <th scope="col">Codigo</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <td></td>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in @ViewBag.ProdutoAtualizar)
                {
                <tr>
                    <td>@item.NomeProduto</td>
                    <td>@item.DescricaoProduto</td>
                    <td>@item.PrecoProduto</td>
                    <td><a class="btn btn-primary" href="">Editar</a></td>
                    <td> <a class="btn btn-outline-danger" href="">Apagar</a></td>
                   
                </tr>
                }


        </tbody>

    </table>


</div>
