<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginScreen</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
</head>
<body>
    <div class="metal1">

        <div class="metal">
            <div class="form-image">
                <img src="/Images/undraw_shopping_app_flsj.svg" alt="cu">
            </div>
            <div class="form">
                <form action="/Empresa/Create" method="post">
                    <div class="form-header">
                        <div class="title">
                            <h1>Cadastre-se</h1>
                        </div>
                        <div class="login-button">
                            <button><a href="/Empresa/Logar">Entrar</a></button>
                        </div>

                    </div>
                    <div id="" class="input-group">
                        <div class="input-box">
                            <label for="NomeEmpresa">Nome da Empresa</label>
                            <input id="NomeEmpresa" type="text" name="NomeEmpresa" placeholder="Digite o Nome da empresa" required>
                        </div>

                        <div class="input-box">
                            <label for="Telefone">Telefone</label>
                            <input id="Telefone" type="text" name="Telefone" placeholder="+xx (xx) xxxx-xxxx" required>
                        </div>

                        <div class="input-box">
                            <label for="SenhaEmpresa">Senha</label>
                            <input id="SenhaEmpresa" type="password" name="SenhaEmpresa" placeholder="Digite a senha" required>
                        </div>


                        <div class="input-box">
                            <label for="CNPJ">Cnpj da empresa</label>
                            <input id="CNPJ" type="text" name="cnpj" placeholder="Digite o Cnpj" required>
                        </div>

                        <div class="input-box">
                            <label for="ConfirmarSenha">Confirme a Senha</label>
                            <input id="ConfirmarSenha" type="password" name="ConfirmarSenha" placeholder="Confirme a senha" required>
                        </div>

                        <div class="continue-button">
                            <button><a type="Submit" class="btn btn-outline-info">Continuar</a></button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


<script>
    $(document).ready(function () {
    $('#telefone').mask('+99(99)99999-9999');
        $('#cnpj').mask('99.999.999/9999-99');
});
</script>
</html>
