@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Novo Produto</h1>
<form action="/Produto/Create" method="post">
    <div class="form-group">
        <label for="NomeProduto">Nome do Produto</label>
        <input type="text" class="form-control" id="NomeProduto" name="NomeProduto" aria-describedby="NomeProduto" placeholder="Digite o nome do Produto" required>
    </div>
    <div class="form-group">
        <label for="ProdutoDescricao">Descrição do Produto</label>
        <input type="text" class="form-control" id="ProdutoDescricao" name="ProdutoDescricao" aria-describedby="ProdutoDescricao" required>
    </div>
    <div class="form-group">
        <label for="NutricaoProduto">Nutrição do Produto</label>
        <input type="text" class="form-control" id="NutricaoProduto" name="NutricaoProduto" aria-describedby="NutricaoProduto" placeholder="Digite a Nutrição do Produto" required>
    </div>
    <div class="form-group">
        <label for="PrecoProduto">Preço do Produto</label>
        <input type="text" class="form-control" id="PrecoProduto" name="PrecoProduto" aria-describedby="PrecoProduto" placeholder="Digite o Preço do Produto" required>
    </div>

    <br />
    <label for="Categorias">Escolha uma categoria:</label>
    <select name="Categorias" id="Categorias">
        @foreach (var item in ViewBag.listaCategorias)
        {
            <option value="@item.CategoriaID">@item.Nome</option>
        }
    </select>
    <br><br>
    <br />
    <button type="submit" class="btn btn-success">Salvar</button>
</form>
<td><a href="/Produto/Index" class="btn btn-secondary">Voltar</a></td>